<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="catalyst" type="NEsper.Catalyst.Client.Configuration.CatalystConfigurationSection, NEsper.Catalyst"/>
  </configSections>

  <catalyst control-manager="http://localhost/catalyst/engine">
    <!--                                                                        -->
    <!-- Publishers                                                             -->
    <!--                                                                        -->
    <!-- Publishers determine what transports we use to deliver data to the     -->
    <!-- catalyst engine.  For example, if the catalyst instance indicates that -->
    <!-- it can consume data across rabbitmq and msmq, but we can only deliver  -->
    <!-- data using msmq, then we would not include rabbitmq in this section.   -->
    <!--                                                                        -->

    <publishers>
      <publisher name="rabbit" type="RabbitMqEventPublisherFactory">
        <rabbitmq address="localhost" />
      </publisher>

			<publisher name="msmq" type="MsmqEventPublisherFactory" />
    </publishers>

    <!--                                                                        -->
    <!-- Consumers                                                              -->
    <!--                                                                        -->
    <!-- Consumers determine what transports we can use for consuming events    -->
    <!-- from the catalyst engine.  The order in which they are listed will     -->
    <!-- also determine the order in which they are utilized.                   -->
    <!--                                                                        -->

    <consumers>
      <consumer name="rabbit" type="RabbitMqEventConsumerFactory" />
      <consumer name="msmq" type="MsmqEventConsumerFactory" />
    </consumers>
  </catalyst>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
