<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="com.espertech.esper.compat.CompatSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<section name="nesper.catalyst" type="NEsper.Catalyst.Configuration.CatalystConfiguration, NEsper.Catalyst"/>
	</configSections>

	<nesper.catalyst>
		<publishers>
			<!--
			<publisher name="rabbit" type="rabbitmq" exchange="localhost" />
			-->
			<publisher name="standard" type="msmq" />
		</publishers>
	</nesper.catalyst>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	<system.web>
		<compilation debug="true"/>
	</system.web>

	<log4net>
		<appender name="Console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[NEsper] %date{ISO8601} [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="INFO"/>
			<appender-ref ref="Console"/>
		</root>
	</log4net>
</configuration>
